body {
  height: 100vh;
  width: 100vw;
  display: block;
  margin: 0;
}
.names {
  height: 15%;
  width: 100%;
  display: flex;
}
.info {
  height: 85%;
  width: 100%;
  display: flex;
}
.facts {
  height: 100%;
  width: 25%;
  display: block;
}
.gif {
  height: 100%;
  width: 50%;
}
.box {
  height: 50%;
  width: 100%;
}
.rectangle {
  height: 100%;
  width: 50%;
}
img {
  height: 100%;
  width: 100%;
}
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.white {
  background-color: white;
}
.clickable {
  filter: brightness(100%);
}
.clickable:hover {
  cursor: pointer;
  filter: brightness(40%);
}
.clickable:active {
  filter: brightness(10%);
}
@media only screen and (max-width: 800px) {
  .info {
    display: block;
  }
  .facts {
    height: 25%;
    width: 100%;
    display: flex;
  }
  .gif {
    height: 50%;
    width: 100%;
  }
  .box {
    height: 100%;
    width: 50%;
  }
}
@media only screen and (max-width: 400px) {
  .facts {
    height: 40%;
    display: block;
  }
  .gif {
    height: 20%;
  }
  .box {
    height: 50%;
    width: 100%;
  }
}
